<div class="container w-50 my-4">
    <form [formGroup]="form">
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div
                style="flex: 45%"
                class="mx-2 my-2">
                <label>
                    First name
                </label>
                <input
                    [inputMask]="maxLengthMask"
                    [ngClass]="{ invalid: form.get('firstName').errors }"
                    (input)="onInputChange(t1, 'firstName')"
                    type="text"
                    #t1="ngbTooltip"
                    placeholder="Jan"
                    class="form-control"
                    formControlName="firstName"
                    triggers="manual"
                    [autoClose]="false"
                    placement="top"
                    ngbTooltip="Please enter a correct name!">
            </div>

            <div
                style="flex: 45%"
                class="mx-2">
                <label>
                    Last name
                </label>
                <input
                    [inputMask]="maxLengthMask"
                    [ngClass]="{ invalid: form.get('lastName').errors }"
                    (input)="onInputChange(t2, 'lastName')"
                    type="text"
                    placeholder="Kowalski"
                    class="form-control"
                    formControlName="lastName"
                    [autoClose]="false"
                    triggers="manual"
                    #t2="ngbTooltip"
                    placement="top"
                    ngbTooltip="Please enter a correct name!">
            </div>

            <div
                style="flex: 45%"
                class="mx-2 my-2">
                <label>
                    E-mail
                </label>
                <input
                    [ngClass]="{ invalid: form.get('email').errors }"
                    (input)="onInputChange(t3, 'email')"
                    type="text"
                    placeholder="jan.kowalski@gmail.com"
                    class="form-control"
                    formControlName="email"
                    #t3="ngbTooltip"
                    triggers="manual"
                    [autoClose]="false"
                    placement="top"
                    ngbTooltip="Please enter a correct e-mail!">
            </div>

            <div
                style="flex: 45%"
                class="mx-2">
                <label>
                    Date of birth
                </label>
                <input
                    [ngClass]="{ invalid: form.get('birthday').errors }"
                    (input)="onInputChange(t4, 'birthday')"
                    class="form-control"
                    type="date"
                    formControlName="birthday"
                    #t4="ngbTooltip"
                    triggers="manual"
                    [autoClose]="false"
                    placement="top"
                    ngbTooltip="Please enter a correct date!">
            </div>

            <div
                style="flex: 45%"
                class="mx-2 my-2">
                <label>
                    Voivodeship
                </label>
                <select
                    [ngClass]="{ invalid: form.get('voivodeship').errors }"
                    name="voivodeship"
                    class="form-control"
                    formControlName="voivodeship"
                    (change)="onInputChange(t5, 'voivodeship')"
                    #t5="ngbTooltip"
                    triggers="manual"
                    [autoClose]="false"
                    placement="top"
                    ngbTooltip="Please select an option!">
                    <option
                        *ngFor="let voivodeship of voivodeships"
                        [value]="voivodeship">
                        {{ voivodeship }}
                    </option>
                </select>
            </div>

            <div
                style="flex: 45%"
                class="mx-2"
                *ngIf="form.get('voivodeship').value">
                <label>
                    City
                </label>
                <select
                    [ngClass]="{ invalid: form.get('city').errors }"
                    formControlName="city"
                    class="form-control"
                    (change)="onInputChange(t6, 'city')"
                    #t6="ngbTooltip"
                    triggers="manual"
                    [autoClose]="false"
                    placement="top"
                    ngbTooltip="Please select an option!">
                    <option
                        *ngFor="let city of cities[form.get('voivodeship').value]"
                        [value]="city">
                        {{ city }}
                    </option>
                </select>
            </div>

            <div
                class="mx-2"
                style="flex: 45%"
                *ngIf="form.get('city').value">
                <label>
                    Address
                </label>
                <input
                    [inputMask]="maxLengthWithDigitsMask"
                    [ngClass]="{ invalid: form.get('address').errors }"
                    (input)="onInputChange(t7, 'address')"
                    class="form-control"
                    type="text"
                    formControlName="address"
                    #t7="ngbTooltip"
                    triggers="manual"
                    [autoClose]="false"
                    placement="top"
                    ngbTooltip="Please enter a correct address!">
            </div>

            <div
                class="mx-2"
                style="flex: 45%"
                *ngIf="form.get('city').value">
                <label>
                    Postal code
                </label>
                <input
                    [inputMask]="postalCodeMask"
                    [ngClass]="{ invalid: form.get('postalCode').errors }"
                    (input)="onInputChange(t8, 'postalCode')"
                    class="form-control"
                    type="text"
                    formControlName="postalCode"
                    #t8="ngbTooltip"
                    triggers="manual"
                    [autoClose]="false"
                    placement="top"
                    ngbTooltip="Please enter a correct postal code!">
            </div>
        </div>

        <div class="d-flex mt-3 justify-content-center">
            <button
                [disabled]="!isFormCorrect"
                class="btn btn-success mx-2"
                type="submit"
                (click)="onSubmit()">
                Submit
            </button>

            <button
                (click)="onReset()"
                class="btn btn-danger mx-2">
                Reset
            </button>
        </div>
    </form>
</div>

<div class="mx-3 my-4">
    <table
        class="w-100 table table-light"
        *ngIf="isFormSubmitted">
        <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Date of birth</th>
                <th>Voivodeship</th>
                <th>City</th>
                <th>Address</th>
                <th>Postal code</th>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor="let submission of dataService.getSubmissions(); index as i"
                (click)="showDetail(i)">
                <td>
                    {{ i + 1 }}
                </td>
                
                <td>
                    {{ submission.data.firstName }}
                </td>

                <td>
                    {{ submission.data.lastName }}
                </td>

                <td>
                    {{ submission.data.email }}
                </td>

                <td>
                    {{ submission.data.birthday }}
                </td>

                <td>
                    {{ submission.data.voivodeship }}
                </td>

                <td>
                    {{ submission.data.city }}
                </td>

                <td>
                    {{ submission.data.address }}
                </td>

                <td>
                    {{ submission.data.postalCode }}
                </td>

                <td
                    class="function-button"
                    (click)="$event.stopPropagation()">
                    <a
                        (click)="onEdit(i)">
                        Edit
                    </a>
                </td>

                <td
                    class="function-button"
                    (click)="$event.stopPropagation()">
                    <a
                        (click)="onDelete(i)">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
